*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;;
}
/* share style section start form here */
.primary-paragraph{
     color: rgba(39, 39, 39, 0.60);
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     margin-bottom: 30px;

}
.primary-title{
     color: #272727;
     text-align: center;
     font-size: 45px;
     font-weight: 800;     
}
.primary-btn{
     border-radius: 8px;
     background: #E55473;
     color: #fff;
     font-size: 20px;
     font-weight: 700;
     padding: 15px 20px;
     border: none;
     outline: none;
     cursor: pointer;
}
/* share style section end form here 
*****************************************************/

/* header start form here */
.container{
    background: rgba(229, 84, 115, 0.10);
     
}
.main-header{
     margin: 0px 100px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
}
.heading-pragraph{
     width: 700px;
     padding-bottom: 150px;
     margin-top: 150px;
}
.head-title{
color: #272727;
font-size: 80px;
font-weight: 800;
margin-bottom: 30px;

}
.heading-image{
     width: 635px;
     height: 800px;
     background-image: url('Flower Asset/pngwing 10.png');
     background-position: right bottom;
     background-repeat: no-repeat;
    
     margin-top: 50px;
}
/* header end form here 
**********************************************/
/* main section start form here */

/* image card section here */
.main-container .primary-paragraph{
     text-align: center;
     margin: 30px 0px;
}

.main-container{
     margin: 0px 200px;
     margin-top: 100px;
}
.flower-container{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 30px;

}
.tree-box1{
     width: 400px;
     height: 500px;
     border-top-left-radius: 200px;
     border-top-right-radius: 200px;
     background: rgba(167, 33, 98, 0.15); 
}
.tree-box2{
     width: 400px;
     height: 500px;
     border-top-left-radius: 200px;
     border-top-right-radius: 200px;
     background: rgba(5, 151, 160, 0.15);
}
.tree-box3{
     width: 400px;
     height: 500px;
     border-top-left-radius: 200px;
     border-top-right-radius: 200px;
     background: rgba(71, 125, 17, 0.15); 
}
.flower-tree{
     width: 300px;
     height: 400px;
     margin-top: 100px;
     margin-left: 50px;
}
.tree{
     text-align: center;
     padding: 10px;
     margin-top: 20px;
}
/* image card section here 
************************************************/
/* delivery section start form here */
.delivery-content-bc{
     margin: 0px 240px;
     margin-top: 100px;
     margin-bottom: 100px;  
}
.item-container{
     height: 220px;
     border-radius: 8px;
     background: rgba(39, 39, 39, 0.05);
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.item{
     /* display: flex;
     justify-content: center; */
}
.icon-img{
     margin-top: 20px;
     margin-left: 90px;
}
.icon-img-l{
     margin-top: 20px;
     margin-left: 30px;
}

.item .primary-paragraph{
     text-align: center;

}
/* delivery section end form here 
***********************************************************************************/
/* hot deal section start form here */
.hot-deal-bc{
     padding: 100px 0px;
     background: rgba(229, 84, 115, 0.05)
}
.hot-deal-container{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.hot-deal-title .primary-paragraph{
     text-align: center;
     margin: 30px 0px;
}
.hot-deal-title .primary-title span{
     color:  #E55473;
}
.hot-deal-title .primary-btn{
    margin-left: 40%;
}
/* hot deal section end form here 
**********************************************************************/
/* special offer start form here */

.order-main-container{
         
}
.order-container{
     position: relative;
     margin-top: 100px;
     display: flex;
     justify-content: flex-start;
     align-items: center;

}
.special-offer{
     width: 1100px;
     padding-bottom: 100px;
     text-align: center;
     border-top-right-radius: 400px;
     border-bottom-right-radius: 400px;
     background: rgba(229, 84, 115, 0.10);
}
.special-offer .primary-title{
     margin-top: 100px;
     margin-bottom: 30px;
}
.special-offer .valid-time{
     font-size: 20px;
     color: #E55473;
     margin-bottom: 30px;
}
.Special-img{
     height: 250px;
     margin-bottom: 30px;
}
.input-item{
     text-align: center;
     padding-top: 50px;
     width: 600px;
     height: 600px;
     border-radius: 10px;
     margin-left: -200px;
     background: rgba(5, 151, 160, 0.15);
}
.input-item .primary-title{
     font-size: 30px;
     margin-bottom: 50px;
}
input {
     display: inline-block;
     
}
textarea, input[type="text"], [type="email"]{
     border: 0;
     outline: 0;
     width: 300px;
     height: 50px;
     padding: 10px;
     margin-bottom: 30px;
     background-color:rgba(5, 151, 160, 0.15);
}
textarea{
     border: 0;
     padding: 10px;
     height: 100px !important;
     outline: 0;
}




/* special offer end form here 
*********************************************************************/
/* social area start form here */
.social-bc-container{
     margin: 0px 200px;
}
.social-container .primary-title{
     margin-bottom: 30px;
}
.social-container {
     margin: 100px 0px;
}
.social-container .primary-paragraph{
     text-align: center;
}
.flower-container{
     display: flex;
}
.flower-box{
     height: 396px;
}
/* social area end form here */
/* banner section start form here */
.banner-bc-container{
     margin: 0px 140px;
     
}
.banner{
    width: 100%;
    height: 449px;
    margin-bottom: 100px;
    background-image: url('img/Rectangle-9.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.banner-in-content input[type="email"]{
     width: 700px;
     height: 64px;
     padding: 15px 20px;
     border-radius: 5px;
     border: none;
     outline: none;
     
}
.search-btn{
     height: 64px;
     padding: 15px 30px;
     border: none;
     outline: none;
     border-radius: 5px;  
     background-color: #E55473;   

}
.banner-in-content .primary-paragraph{
     text-align: center;
     margin: 40px 0px;
     
}
/* banner section end form here */
/* main section end form here 
*********************************************************************/
/* footer section start form here */
.footer-bc{
     background: #111010;
}
.footer-container{
     text-align: center;
     padding: 100px 0px;
}
.footer-container .primary-title{
     color: #ffff;
     margin-bottom: 30px;
}
.footer-container .primary-title span{
     color: #E55473;
     text-align: center;
}
.footer-container .primary-paragraph{
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 30px;
}
.footer-container small{
     color: rgba(255, 255, 255, 0.40);

}
/* footer section end form here */
